@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Parisienne|Exo|Philosopher|Source+Code+Pro:400);

.remark-slide-content { 
    font-family: 'Gill Sans', 'Calibri', 'Palatino Linotype', 'Book Antiqua', Palatino, 'Microsoft YaHei', 'Songti SC', sans-serif; 
    color: #47484D; 
    font-size: 190%;}
.remark-slide-content > h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: normal;
}
    
.fancy { 
    font-family: 'Parisienne', cursive; }

.large {
    font-size: 120%;
}

.xlarge {
    font-size: 150%;
}

.remark-code, .remark-inline-code {
    font-family: 'Source Code Pro', 'Lucida Console', Monaco, monospace; 
    font-size: 80%;
}

.bottom-right {
    position: absolute;
    right: 5px;
    bottom: 10px; 
}